.rel {
  position: relative;
}

/* Heading */
.heading_tab {
  position: relative;
  // margin: auto auto 40px;
  // max-width: 450px;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .heading {
    font-family: "Circular-Std-Font";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .sub_heading {
    font-family: "Circular-Std-Font";
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
  }
}
.section_padding {
  padding: 50px 0;
}
