$orange: #ec5600;
$white: #ffffff;
$lightwhite: #e5e5e5;
$black: black;
$blue: #010937;
$gray: #acacac;
$border-color: #63636324;
$green: #008274;
$lightred: #e03c43;
$redgradient: rgba(224, 60, 67, 0.12);
$greengradient: rgba(0, 130, 116, 0.12);
$shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);

:root {
    --orange: #ec5600;
}
